#photos{
    .container{
        --px-lg:1rem;
        --max-width: 360px;
        width: min(var(--max-width), 100% - var(--px-lg) * 2);
        margin-inline: auto;
    }
    & #photo-galery{
        display: grid;
        margin-bottom: 1rem;
        .card{  
        & img {
        display: block;      
        width: 100%;         
        height: auto;       
        object-fit: cover;   
      }
    }
    }




@media (width>=80em){
     .container{
        --px-lg:2rem;
       --max-width:80rem; 
    }
    & #photo-galery{
        margin-bottom: 2rem;
        gap: 2rem;
        grid-template-columns: repeat( 4, auto) ;

         .card{  
        & img {
        display: block;      
        width: 100%;         
        height: auto;       
        object-fit: cover;   
      }
    }

    }    
}







}


